@import "variables.scss";

html { overflow-y: auto }

::-webkit-scrollbar {
  width: 10px;
  background-color: $primary;
}

::-webkit-scrollbar-track {
  background-color: $dark;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}


.bg-primary {
	background-color: $primary !important;
}

.text-white {
	color: $white;
}

.ma-0 {
	margin: 0;
}

.pt-0 {
	padding-top: 0;
}

.pokemon-table {
	border-top-left-radius: 25px !important;
	border-top-right-radius: 25px !important;
	.v-toolbar {
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
	}
}

.m-auto {
	margin: auto;
}

.position-fixed {
	position: fixed;
}

.mw-fit-content {
	min-width: fit-content !important;
}

.black-divider {
	border-width: 3px;
	background-color: var(--v-vuetifyThemeContrast-base);
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.pointer {
	cursor: pointer;
}

.h-inherit {
	height: inherit;
}

.position-relative {
	position: relative;
}

.pokemon-big-text {
	font-size: 3em;
  letter-spacing: 0.3em;
}

.pokemon-text {
  font-family: "Pokemon Solid", sans-serif;
  color: $pokemonYellow;
  -webkit-text-stroke: 2px $pokemonBlue;
}

.reveal-pokemon-text {
	font-size: 3em;
  letter-spacing: 0.4em;
	animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  width: 100%;
  height: 65vh;
	background-color: var(--v-vuetifyThemeContrast-base);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
}

.home-loader {
	top: 10vh;
}